.hobbies__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--cards);
}