.training {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.training__title {
  font-size: 2rem;
}

.training__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}