.menu {
  padding: 28px 144px;
  background-color: var(--background__color__secundary);
}

.container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 70px;
  max-width: 1440px;

}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}